{% extends 'base.html.twig' %}

{% block title %}Hello ExplorerController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 1200px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


	<div class="example-wrapper">
		<div class="card-body">
			<div id="current-books-explorer" data-datatable="true" data-datatable-page-size="20">
				<div class="scrollable-x-auto">
					<table class="table table-border" data-datatable-table="current-books-explorer">
						<thead>
							<tr>
								<th class="min-w-[32px]">
									<span class="sort asc">
										<span class="sort-label">Utilisateur</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="min-w-[32px]">
									<span class="sort asc">
										<span class="sort-label">Lu ?</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="min-w-[280px]">
									<span class="sort asc">
										<span class="sort-label">Livre</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="min-w-[32px]">
									<span class="sort asc">
										<span class="sort-label">Catégorie</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="min-w-[32px]">
									<span class="sort asc">
										<span class="sort-label">Notation</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="max-w-[135px] text-end">
									<span class="sort">
										<span class="sort-label">Modifié le</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="max-w-[135px] text-end">
									<span class="sort">
										<span class="sort-label">Likes</span>
										<span class="sort-icon"></span>
									</span>
								</th>
								<th class="max-w-[135px] text-end">
									<span class="sort">
										<span class="sort-label">Commentaires</span>
										<span class="sort-icon"></span>
									</span>
								</th>

							</tr>
						</thead>
						<tbody id="current-books-body">
							{% for bookLike in booksLikes %}
								{% set book = bookLike.bookRead.book.name %}
								{% set categoryName = '' %}
								{% for category in categories %}
									{% if category.id == bookLike.bookRead.book.categoryid %}
										{% set categoryName = category.name %}
									{% endif %}
								{% endfor %}
								<tr>
									<td class="text-end">
										{{ bookLike.bookRead.user.email }}
									</td>
									<td class="text-end">
										{% if bookLike.bookRead.isread == 1 %}
											{{ "Oui" }}
										{% else %}
											{{ "Non" }}
										{% endif %}
									</td>
									<td>
										<div class="flex flex-col gap-2">
											<a class="leading-none font-medium text-sm text-gray-900 hover:text-primary">
												{{ book }}
											</a>

											<span class="text-2sm text-gray-700 font-normal leading-3">
												{{ bookLike.bookRead.description }}
											</span>
										</div>
									</td>
									<td>{{ categoryName }}</td>
									<td>
										<div class="rating">
											{% set fullStars = bookLike.bookRead.rating %}
											{% for i in 1..5 %}
												<div class="rating-label {{ i <= fullStars ? 'checked' : '' }}">
													<i class="rating-on ki-solid ki-star text-base leading-none"></i>
													<i class="rating-off ki-outline ki-star text-base leading-none"></i>
												</div>
											{% endfor %}
										</div>
									</td>
									<td class="text-end">
										{{ bookLike.bookRead.updatedAt|date('d/m/Y à H:i') }}
									</td>
									<td class="text-end">
										<span id="like-count">{{ bookLike.likeCount }}</span>
										<button id="like-button" onclick="incrementLike({{bookLike.bookRead.id}})">
											<i class="fas fa-thumbs-up"></i>
										</button>
									</td>

									<td class="text-end">
										<span id="comment-count">{{ bookLike.commentsCount }}</span>
										<a id="comment-button" href="{{ path('app_commentaries', {'bookReadId': bookLike.bookRead.id}) }}">
											<i class="fas fa-comment"></i>
										</a>

									</td>

								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
					<div class="flex items-center gap-4 order-1 md:order-2">
						<span data-datatable-info="true"></span>
						<div class="pagination" data-datatable-pagination="true"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function incrementLike(bookReadId) {
fetch('{{ path('app_like', {'bookReadId': 'PLACEHOLDER'}) }}'.replace('PLACEHOLDER', bookReadId), {
method: 'POST',
headers: {
'Content-Type': 'application/json'
},
body: JSON.stringify({})
}).catch(error => console.error('Erreur:', error));
}

function getComments(bookReadId) {
fetch('{{ path('app_commentaries', {'bookReadId': 'PLACEHOLDER'}) }}'.replace('PLACEHOLDER', bookReadId), {
method: 'POST',
headers: {
'Content-Type': 'application/json'
},
body: JSON.stringify({})
}).catch(error => console.error('Erreur:', error));
}
	</script>
{% endblock %}
